[submodule "competition_metrics"]
	path = competition_metrics
	url = https://github.com/adaptyvbio/competition_metrics.git
[submodule "egfr_competition_1"]
	path = egfr_competition_1
	url = https://github.com/adaptyvbio/egfr_competition_1
[submodule "pdb2png"]
	path = pdb2png
	url = https://github.com/hgbrian/pdb2png.git
